@media screen and (max-width: 767px){
  .card{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
  }

  .card .album-img{
    min-width: 200px;
    max-width: 45%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 480px){
  .card{
    max-width: 100%;
    justify-content: center;
    margin-bottom: 7em;
  }

  .card .album-img{
    max-width: 80%;
    margin: 0 auto;
  }

}