.card {
  box-sizing: border-box;
  width: 280px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
}

.card .albumImg {
  aspect-ratio: 1 / 1;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.card h3 {
  text-align: center;
  padding: 1rem 0 0.5rem 0;
  font-size: 2.25em;
  font-weight: 700;
  white-space: nowrap;
}

.card p {
  text-align: center;
  font-size: 1.13em;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 8px;
  }

  .card .albumImg {
    min-width: 100px;
    width: 40%;
    margin: 0 auto;
  }

  .card h3 {
    font-size: 28px;
  }

  .card > div {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
  }

  .card .albumImg {
    margin: 0 auto;
  }

  .card h3 {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }
}
