.volume-slider-bg{
    width: 136px;
    height: 40px;

    transform: rotate(-90deg);
    position: absolute;
    top: -273%;
    left: -130%;   

    background-color: var(--bg);
    border-radius: 0 10px 10px 0;
}

.volume-slider{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 6px;
    border-radius: 10px;
    margin-left: 3px;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
 }

 input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--pink);
    cursor: pointer;
    margin-top: -5px;
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.5);
}