.nowPlayingList {
  width: 55%;
  padding: 10px;
  box-sizing: border-box;
}

.titleBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}
.nowPlayingList h2 {
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
}

.nowPlayingList .initialInfo {
  margin-left: 10px;
}

.nowPlayingList ol {
  min-height: 80px;
  margin-left: 16px;
  overflow: auto;
}

.nowPlayingList li {
  display: flex;
  color: var(--white);
  font-size: 18px;
  margin-bottom: 1rem;
}

.nowPlayingList li > p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowPlayingList .number {
  margin-right: 9.6px;
}

.marker {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 15px solid var(--pink);
  border-right: 10px solid transparent;
}
.showList {
  max-height: 300px;
  opacity: 1;
  visibility: visible;
  transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
}

.hideList {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, opacity 0.3s ease-out,
    visibility 0s linear 0.3s;
}

.btnContainer {
  margin: 20px 0 0 10px;
}

.btnContainer button:first-child {
  margin-right: 15px;
}

.btnContainer button:hover {
  border: 1px solid var(--pink);
  background-color: var(--pink);
}

.saveList {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 15px;
  padding: 8px 20px;
  min-height: fit-content;
}

@media screen and (max-width: 767px) {
  .nowPlayingList {
    width: 100%;
  }

  .nowPlayingList .titleBox {
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
  }

  .nowPlayingList .titleBox > h2 {
    font-size: 24px;
  }

  .nowPlayingList ol {
    max-height: 80px;
  }

  .nowPlayingList li {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .nowPlayingList .initialInfo {
    margin: 0 auto;
    text-align: center;
  }

  .nowPlayingList .btnContainer {
    text-align: center;
  }

  .nowPlayingList .btnContainer button {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .nowPlayingList {
    position: absolute;
    top: 0;
    padding: 0;
    max-width: 70%;
  }

  .nowPlayingList .titleBox {
    max-height: 30px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    margin-bottom: 0;
  }

  .nowPlayingList .titleBox > h2 {
    font-size: 14px;
  }
  .nowPlayingList ol {
    margin: 0;
    padding: 0 10px;
  }

  .nowPlayingList ol > li {
    font-size: 14px;
    text-align: left;
    margin: 0.5rem 0;
  }

  .nowPlayingList .initialInfo {
    display: none;
  }

  .nowPlayingList .btnContainer {
    width: 100%;
    position: fixed;
    left: 50%;
    bottom: 17%;
    transform: translateX(-50%);
    margin: 0;
  }

  .nowPlayingList .btnContainer button {
    padding: 5px 16px;
    font-size: 12px;
  }
}
