article {
  width:80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
  display: flex;
  justify-content: center;
  gap: 10%;
  
}

/* NowPlaying style */

.nowPlayingList{
  width: 50%;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}

.titleBtn{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
  padding:0;
}

.titleBtn:hover{
  cursor: pointer;
}

.nowPlayingList h2 {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
}

.nowPlayingList li{
  color: var(--white);
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 24px;
}


.nowPlayingList ol.hidden{
  max-height:0;
  transition: max-height 0.3s;
  overflow: hidden;
}

.nowPlayingList ol.listOpened{
  max-height: 40%; 
  transition: max-height 0.3s;
  overflow: hidden;
}

@media screen and (max-width: 767px){
  article{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .nowPlayingList{
    width: 100%;
    height: 250px;
  }

  .nowPlayingList .titleBtn{
    width: 100%;
    justify-content: center;
    margin: 20px 0;
  }

  .nowPlayingList .titleBtn > h2{
    font-size: 26px;
  }


  .nowPlayingList ol > li{
    text-align: center;
    margin-bottom: 14px;
  }

}

@media screen and (max-width: 480px){
  article{
    flex-direction: column;
    height: 100vh;
  }

  .nowPlayingList{
    position: absolute;
    top:0;
    padding:0;
    height: 40%;
  }

  .nowPlayingList .titleBtn{
    width: 100%;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    height: 24px;
    border-radius: 0 0 10px 10px;
    margin: 0;
  }

  .nowPlayingList .titleBtn > h2{
    font-size: 14px;
  }

  .nowPlayingList ol > li{
    text-align: left;
    margin-bottom: 1em;
  }

  .nowPlayingList .titleBtn .toggle{
    width: 20px;
    height: 20px;
  }

  .nowPlayingList.active{
    background-color: rgba(0,0,0,0.6);
    border-radius: 0 0 10px 10px;
  }

  .nowPlayingList ol.listOpened{
    padding: 15px 10px;
    box-sizing: border-box;
  }

}