/* reset */
body{
  margin:0;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

ol,
li{
  margin: 0;
  list-style: none;
  padding: 0;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  background-color: #eee;
  color: var(--white)
}
/* root */
:root{
  /* color */
  --white: white;
  --pink: #FF0060;
}


/* 숨기기 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* style 적용 */

article {
  min-width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 84px;
}

/* NowPlaying style */

.nowPlaying-list{
  display: inline-block;
  width: 450px;
  vertical-align: top;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.nowPlaying-list h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;

}

.nowPlaying-list li{
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.nowPlaying-list button{
  width: 34px;
  height: 34px;
  background-image: url(../../../public/icon/Add-Song.png);
  background-position: 0 0 ;
  background-repeat: no-repeat;
  background-size: 34px 34px;
}

.nowPlaying-list button:hover{
  cursor: pointer;
}

ol > li{
  margin-bottom: 24px;
}