/* player */

input{
    margin:0;
}

:root{
    /* color */
    --bg: #090424;
}

footer{
    width: 100%;
    height: 70px;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    bottom: 0;
}
.btn-play-group,
.btn-utility-group{
    display: inline-flex;
    align-items: center;
    gap: 1em;
}

.btn{
    width: 38px;
    height: 38px;
    
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    cursor: pointer;
}
.btn.backward{
    height: 28px;
    background-image: url(../../../public/icon/btn_rewind.png);
}
.btn.forward{
    height: 28px;
    background-image: url(../../../public/icon/btn_forward.png);
}

.btn.play{
    background-image: url(../../../public/icon/btn_play.png);
}

.btn.pause{
    background-image: url(../../../public/icon/btn_pause.png);
}


.btn.replay{
    background-image: url(../../../public/icon/Restart.png);
}

.btn.shuffle{
    background-image: url(../../../public/icon/Shuffle.png);
}

.btn.volume{
    background-image: url(../../../public/icon/Speaker.png);
    position: relative;
}

.timeline p {
    display: inline-block;
    margin-right: 24px;
    vertical-align: middle;
}

.timeline .progress-bg{
    display: inline-block;
    width: 640px;
    height: 4px;
    appearance: none;
    transition: all 0.5s;
    vertical-align: middle;
}


.timeline .progress-bg::-webkit-progress-bar{
    background-color: white;
    border-radius: 10px;
}

.timeline .progress-bg::-webkit-progress-value {
    border-radius:10px;
    background: #FF0060;
}
