.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.timeline {
  display: inline-block;
  width: 75%;
  height: 4px;
  transition: all 0.5s;
  border-radius: 10px;
}

.time {
  padding-right: 1.2rem;
}

@media screen and (max-width: 767px) {
  .time {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
  }

  .container .timeline {
    width: 100%;
  }

  .container p {
    padding-top: 0.5rem;
    padding-right: 0;
    align-self: flex-end;
  }
}
