.wrapper{
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
}

.timeline{
    flex-grow: 1;
    height: 4px;
    transition: all 0.5s;
    border-radius: 10px;
}


@media screen and (max-width: 480px){
    .wrapper{
        position: fixed;
        bottom: 27%;
        flex-direction: column-reverse;
        min-width: 60%;
    }

    .wrapper .timeline{
        width: 100%;
    }

    .wrapper p{
        padding-top: 0.5em;
        align-self: flex-end;
    }

}