.volumeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeSlider {
  min-width: 70px;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  margin-left: 3px;
}

@media screen and (max-width: 767px) {
  .volumeSlider {
    min-width: 50px;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
}
