@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.App{
    height: 100vh;
    position: relative;

    background-image: url(../public/img/edsheeran.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


    font-family: 'Roboto', sans-serif;

}


.App::before{
    content: '';
    background: rgba(70, 70, 70, 0.30);
    backdrop-filter: blur(15px);
    position: absolute;
    width: 100%;
    height: 100%;
}